/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

table {
	border-collapse:collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

a img, iframe {
	border: none;
}

ol, ul {
	list-style: none;
}

input, textarea, select, button {
	font-size: 100%;
	font-family: inherit;
}

select {
	margin: inherit;
}

/* MISC */

.text {
	font-family: Helvetica, arial,sans-serif;
}

/* Text */

h1, h2, h3 {
	color: #FFF;
	letter-spacing: 1px;

}

h2 {
	font-size: 28px;
}



/* HEADER */

header {
	background-color: #00A9DB;
	background-repeat: repeat-x;
}

.logo-img {
	float: left;
	width: 280px;
	margin-left: 30px;
	padding: 20px 0 30px 0;
}

.album-info {
	position: relative;
	margin: 0 auto;
	left: 12%;
	color: #FFF;
	margin-top: 44px;
	float: left;
}

#tags {
	float: right;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
}


/* Search bar */

.search-bar {
	clear: both;
	background-color: #EFECEA;
	border: 1px solid #E6E6E6;
	padding-left: 27px;
	overflow: auto; 
}

#claim {
	margin-top: 10px;
	float: left;
	display: inline-block;
	color: #999;
}

.box {
	float: left;
	display: inline-block;
}

.date {
	margin-left: 12%;
}

.search-bar .text {
	color: #999;
	font-size: 14px;
}

.search-bar .box {
	float: left;
}

.line-separator {
	width: 2px;
	background-color: #000;
	border-left: 1px solid #999;

}

/* GRID */

.img-grid {
	margin: 0 auto;
	margin: 20px 20px 0 20px;
}

.photo {
	width: 230px;
	float: left;
	margin-right: 15px;
}

.photo:hover {
	box-shadow: 5px;
}

/* FOOTER */

footer {
	clear: both;
	position: fixed;
	top: 90%;
	padding-left: 20px;
	background-color: #FFF;
	opacity: 0.8;
	filter:alpha(opacity=80);
	width: 100%;
}

footer p {
  margin:30px 40px;
  color:#000000;
  font-weight: normal;
  }