<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="./css/family-style.css">
    <link rel="stylesheet" type="text/css" href="./css/collapsible-menu.css">
    <script src="./js/jquery-1.9.1.js"></script> 
    <title>Family Interface | Meveo</title>
</head>
<body>
    <header>
        <img class="logo-img" src="img/logo-meveo.png" alt="Logotipo Meveo" />
        <div class="album-info">
            <h2 class="album-title, text">Nuestro dia en Hack for Good</h2>
            <h3 class="album-date, text">3 de Marzo de 2013</h3>
        </div>
        <div id="tags"><img src="img/tags.png" alt="etiquetas"></div>
        <div class="search-bar">
            <div id="claim">
                <p>Fotografía para la diversidad funcional</p>
            </div>
            <div class="box date">
                <ul id="accordionMenu" class="collapsibleMenu">
                    <li><a class="collapsed">Organizar por fecha</a>
                        <ul>
                            <li><a href="#">Hoy</a></li>
                            <li><a href="#">Últimos 7 dias</a></li>
                            <li><a href="#">Últimos 30 dias</a></li>
                            <li><a href="#">Último año</a></li>
                        </ul>
                    </li>
                    <li class="footer"><span> </span></li>
                </ul> 
            </div>
        
        <div class="box">
            <ul id="accordionMenu" class="collapsibleMenu">
                <li><a class="collapsed">Seleccionar álbum</a>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#">Hackathon</a></li>
                        <li><a href="#">Probando...</a></li>
                        <li><a href="#">Vídeos</a></li>
                    </ul>
                </li>
                <li class="footer"><span> </span></li>
            </ul> 
        </div>
        </div>
    </div>
</header>
<section id="image-grid" class="img-grid">
</section>
<script>
        String.prototype.endsWith = function(suffix) {
            return this.indexOf(suffix, this.length - suffix.length) !== -1;
        };
var pintarUnArrayDeImagenes = function (){
    <% _.each (datas, function(data) { %>
            var html;
            if ('<%= data %>'.endsWith('avi')) {
                html = '<a href="<%= data %>" ><img src="img/video.jpg"class="photo" data-filename="<%= data %>" /></a>'
            }else {
                html = '<a href=<%= data %> ><img src=" <%= data %> " alt="Nuestro dia en la hackaton" class="photo" /></a>';
            }
        $('#image-grid').append(html);
        <% }); %>
};


pintarUnArrayDeImagenes();

$(document).ready(function() {
                    // Accordion effect
                    $('#accordionMenu > li > a.expanded + ul').slideToggle('medium');
                    $('#accordionMenu > li > a').click(function() {
                        $('#accordionMenu > li > a.expanded').not(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
                        $(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
                    });
                });

</script>
<footer>
    <p class="copyrigth-text">2013 © info@meveo.com - Hack for Goord / Madrid</p>
</footer>
</body>
</html>
