<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/user-style.css">
    <script src="./js/jquery-1.9.1.js"></script> 
    <title>User Interface | Meveo</title>
</head>
<body>
    <div id="desk">
       <div id="bin">
        <img src="img/empty-bin.png" alt="eliminar">
        </div>
       <div id="selected-img">
        <p>Marzo 03</p>
        <img src="" id="selected-image" alt="imagen seleccionada" style="display:none" >
        <video src="" id="selected-video" controls="true" alt="" class="photo" style="display:none"></video>
    </div>
    <div id="save">
        <img src="img/save.png" alt="guardar">
    </div>
</div>
<section id="image-grid">
    <script>
        String.prototype.endsWith = function(suffix) {
            return this.indexOf(suffix, this.length - suffix.length) !== -1;
        };
    <% _.each (datas, function(data, index) { %>
        var html;
            if ('<%= data %>'.endsWith('avi')) {
                html = '<a href="<%= data %>" ><img src="img/video.jpg"class="photo" data-filename="<%= data %>" /></a>'
            }else {
                html = '<img src="<%= data %>" alt="<%= data %>" class="photo" data-index="<%= index %>" />';
            }
        $('#image-grid').append(html);
        <% if (index == 0) { %>
            if ('<%= data %>'.endsWith('avi')) {
                $('#selected-video').attr('src','<%= data %>' );
                $('#selected-video').attr('alt','<%= data %>' );
            }else {
                $('#selected-image').attr('src','<%= data %>' );
                $('#selected-image').attr('alt','<%= data %>' );
            }
        <% } %>
    <% }); %>

    $('.photo').on('click', function(){
            if (this.alt) {
                $('#selected-image').show();
                $('#selected-video').hide();
                $('#selected-image').attr('src', this.src);
                $('#selected-image').attr('alt', this.alt);
 
            }        
    });
    $('#bin').on('click', function(){
        var jsonData = { photo: $('#selected-image').attr('alt')};
        console.log($('#selected-image').attr('alt'));
        var request = $.ajax({
            url: "/api/remove",
            type: "post",
            data: jsonData,
            success:function(data){
                location.reload();
            }
        });
         
        $('#selected-image').attr('src', this.src);
    });
    </script>
</section>
</body>
</html>
